#python 3.11
--extra-index-url https://download.pytorch.org/whl/cu126
accelerate==1.14.0
#datasets==5.0.0
#ipykernel==7.3.0
#matplotlib==3.11.0
scikit-learn==1.9.0
torch==2.12.0+cu126
transformers==5.12.1
tabulate==0.10.0